body {
  font-family: 'Arial', sans-serif;
  direction: ltr;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}
nav{
    text-align: left;
    margin: 5%;
    
}
header {
  background-color: #5f6c74;
  color: white;
  padding: 40px;
  text-align:left;
  margin: revert;

}

section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
		background:linear-gradient(to right,#303030,#3e99ff);;
		text-align:center;
		border-radius:20px;
    border: groove;
  
        
}
button{
  background-color: #f1efef;
  touch-action: pan-y;
  background: border-box;
 
}
b{

 color: #f1efef;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
