body {
  font-family: 'Arial', sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #f3ebeb;
}

header {
  background-color: #050505;
  color: white;
  padding: 40px;
  text-align: center;
}
img{
  text-align: left;
}
section {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  	background:linear-gradient(to right,#303030,#3e99ff);;
		text-align:center;
		border-radius:20px;
    border: groove;
}

.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project {
  background-color: #161515;
  color: #ebeaf0;
  padding: 20px;
  flex: 1 1 45%;
  border-radius: 8px;
}
button{
 background-color: #f1efef;
  touch-action: pan-y;
  color: #f1efef;
  
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}
